@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=VT323&family=Wellfleet&display=swap');

.App {
	text-align: center;

	button {
		font-weight: bold;
		font-size: xx-large;
	}
}

.tile {
	display: flex;


	.image {
		background-image: url('./Images/sprite.png')
	}
	.number {
		font-family: Cabin Sketch VT323 Wellfleet;
		color: blueviolet;
	}
	.line {
		height: 11vMin;
		background-color: red;
		width: 1vmin;
	}
	.numberAndItem {
		text-align: left;
	}
}

.box {
	width: 50vw;
	height: 50vh;
	border: 1px solid black;
	display: flex;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-20px);}
  20%, 40%, 60%, 80% {transform: translateX(20px);}
}

.drop {
  animation: shake 0.5s;
}

.gameScreen {
	width: 100%;
	height: 100%;
}

.board {
	width: 100%;
	height: 100%;

	.boardContainer {
		border: 10px solid rgb(255, 138, 138);
		box-sizing: border-box;
		margin: auto;
	}
}

.boardItem {
	position: relative;
}


.levels {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	border: 2px solid burlywood;

	.levelContainer {
		margin: auto;
		display: flex;
	}
}

.gameButton {
	border: none;
	background-color: transparent;
}


.back {
	position: absolute;
	left: 10%;
	top: 80%;
		}

.stack {
	position: absolute;
	top: 0px;
	background-color: whiteSmoke;
	padding: 10px;
	border: 2px solid black;
	width: 13vMin;
	height: 13vMin;
}

.homeScreen {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pause {
	position: absolute;
	width: 100%;
	height: 100dvmin;
	background-color: rgb(8 8 8 / 99%);
	bottom: 0;
	opacity: 0.85;
	backdrop-filter: blur(43px);
	z-index: 9999;

	.pauseContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
