@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=VT323&family=Wellfleet&display=swap');

.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}

.tile {
	display: flex;
	background-image: url('./Images/background.png');
	width: 100vw;
	height: 100vh;

	.image {
		background-image: url('./Images/sprite.png')
	}
	.number {
		font-family: Cabin Sketch VT323 Wellfleet;
		color: blueviolet;
	}
}

.box {
	width: 50vw;
	height: 50vh;
	border: 1px solid black;
}

@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-20px);}
  20%, 40%, 60%, 80% {transform: translateX(20px);}
}

.drop {
  animation: shake 0.5s;
}
